/** @format */
@font-face {
  font-family: "Avenir-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir-Bold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
}
/** @format */
/** @format */
/* media query for mobile */
/* media query for tablet */
/* media query for landscape, desktop pixel density desktops */
/* media query for high pixel density desktops */
/** @format */
.navbar-container {
  background-color: #323232;
}

.navbar {
  margin: 0 auto;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.navbar__brand {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 1rem 0 0.5rem 0;
  font-family: "Avenir-Bold";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  .navbar__brand {
    padding: 0 2.25rem;
  }
}
.navbar__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.navbar__menu {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.navbar__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 100%;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  font-family: "Avenir-Demi";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  transition: 0.5s;
  position: relative;
}
.navbar__item--inactive {
  border-bottom: 0.25rem solid #323232;
  font-family: "Avenir-Bold";
  font-weight: 700;
}
.navbar__item--active {
  border-bottom: 0.25rem solid #fafafa;
  font-family: "Avenir-Bold";
  font-weight: 700;
}
.navbar__item::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 0.25rem solid #fafafa;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}
.navbar__item:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
@media only screen and (min-width: 768px) {
  .navbar__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: "Avenir-Regular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0 1.75rem;
  }
}
.navbar__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #e1e1e1;
  padding-bottom: 0.5rem;
}
.navbar__link--active {
  font-family: "Avenir-Bold";
  font-weight: 700;
  color: #ffffff;
}
.navbar__link:hover {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .navbar__link {
    padding: 1.25rem 0;
  }
}

/** @format */
.footer-background {
  background-color: #323232;
  color: #ffffff;
}

.footer {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    padding: 1.75rem 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.75rem 0;
}
.footer__content:nth-child(6) {
  padding: 2.5rem 0 0 0;
}
@media only screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 31%;
    padding: 1.5rem 0 1rem 0;
  }
  .footer__content:nth-child(1) {
    order: 1;
    justify-self: center;
  }
  .footer__content:nth-child(2) {
    order: 2;
  }
  .footer__content:nth-child(3) {
    order: 4;
  }
  .footer__content:nth-child(4) {
    order: 5;
  }
  .footer__content:nth-child(5) {
    order: 6;
  }
  .footer__content:nth-child(6) {
    order: 3;
    align-items: flex-end;
    justify-items: center;
    padding: 0;
  }
  .footer__content:nth-child(7) {
    order: 7;
    flex-grow: 2;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer__content:nth-child(1) {
    flex-basis: 25%;
    order: 1;
  }
  .footer__content:nth-child(2) {
    flex-basis: 25%;
    order: 2;
  }
  .footer__content:nth-child(3) {
    flex-basis: 25%;
    order: 4;
  }
  .footer__content:nth-child(4) {
    flex-basis: 25%;
    order: 5;
  }
  .footer__content:nth-child(5) {
    flex-basis: 50%;
    flex-grow: 2;
    order: 6;
  }
  .footer__content:nth-child(6) {
    flex-grow: 2;
    flex-basis: 50%;
    order: 3;
  }
  .footer__content:nth-child(7) {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
.footer__title {
  font-family: "Avenir-Bold";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 0 0 0;
}
@media only screen and (min-width: 768px) {
  .footer__title {
    padding: 0;
    font-family: "Avenir-Bold";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .footer__icon {
    padding: 0 0 0.25rem 0;
  }
}
.footer__img {
  padding-right: 1.75rem;
  height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .footer__img {
    height: 1.75rem;
  }
}
.footer__name {
  font-family: "Avenir-Demi";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0 0 1rem 0;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .footer__name {
    font-family: "Avenir-Regular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding: 0 0 1.5rem 0;
  }
}
.footer__address, .footer__text {
  font-family: "Avenir-Regular";
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding: 0 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__address, .footer__text {
    font-family: "Avenir-Regular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 0 0 1.5rem 0;
  }
}
.footer__email {
  font-family: "Avenir-Regular";
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .footer__email {
    font-family: "Avenir-Regular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    height: 1.25rem;
  }
}
.footer__copyright {
  font-family: "Avenir-Regular";
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-size: 0.7rem;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    font-family: "Avenir-Regular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/** @format */
html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #323232;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
img {
  margin: 0;
  padding: 0;
}

/** @format */
.hero-container {
  background: url("../../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.5);
}

.hero {
  margin: 0 auto;
  max-width: 1020px;
}
.hero__title {
  font-family: "Avenir-Bold";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 21vw 1rem;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    font-family: "Avenir-Bold";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding: 21vw 2.25rem;
  }
}
.about {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .about {
    padding: 0 2.25rem;
  }
}
.about__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about__heading {
  font-family: "Avenir-Bold";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 0 0.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about__heading {
    font-family: "Avenir-Bold";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 2.25rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .about__content {
    padding: 0 2.25rem;
  }
}
.about__img {
  width: 100%;
}
.about__quote {
  font-family: "Avenir-Demi";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0.5rem 0 0.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about__quote {
    font-family: "Avenir-Demi";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2.5rem 0 1rem 0;
  }
}
.about__text {
  font-family: "Avenir-Demi";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about__text {
    font-family: "Avenir-Regular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: bold;
    padding: 0 0 3rem 0;
  }
}

.main {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .main {
    padding: 0 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__head {
    padding: 0 2.25rem;
  }
}
.main__title {
  font-family: "Avenir-Regular";
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding: 0 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .main__title {
    font-family: "Avenir-Demi";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 0 1.5rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .main__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.main__text {
  padding: 0 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .main__text {
    padding: 0 0 2.25rem 0;
  }
  .main__text:nth-child(odd) {
    padding-right: 1.125rem;
  }
  .main__text:nth-child(even) {
    padding-left: 1.125rem;
  }
}
.main__para {
  font-family: "Avenir-Regular";
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .main__para {
    font-family: "Avenir-Regular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery-container {
  background-color: #fafafa;
}

.gallery {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2.25rem;
  }
}
.gallery__title {
  font-family: "Avenir-Bold";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .gallery__title {
    font-family: "Avenir-Bold";
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 2.25rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 2rem 0;
  }
}
.gallery__img {
  transition: all 1s ease-out;
  width: 100%;
  filter: grayscale(100%);
  padding: 0.5rem 0;
}
@media only screen and (min-width: 768px) {
  .gallery__img {
    width: 31%;
  }
}
.gallery__img:hover {
  filter: grayscale(0%);
  transition: all 0.5s ease-out;
}

/** @format *//*# sourceMappingURL=bio.css.map */