/** @format */

$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;

/* media query for mobile */
@mixin small {
  @media only screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    @content;
  }
}

/* media query for tablet */
@mixin medium {
  @media only screen and (min-width: $tablet-min-width) {
    @content;
  }
}

/* media query for landscape, medium pixel density desktops */
@mixin large {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

/* media query for high pixel density desktops */
@mixin huge {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
