/** @format */

@use "./mixins" as *;
@use "./variables" as *;
@use "./breakpoints" as *;

.footer {
  background-color: $clr-primary-dark;
  color: $clr-primary-neutral;
  padding: 0 1rem;
  @include tablet {
    padding: 0 2.25rem;
  }
  &__header {
    padding: 1.5rem 0 1rem 0;
    @include tablet {
      display: none;
      //   @include flex(row, space-between, center);
      //   padding: 3rem 0 2.25rem 0;
    }
  }

  &__title {
    @include m-page-section-header;
    padding-bottom: 1rem;
    @include tablet {
      display: none;
      //   width: 30%;
    }
  }
  &__caption {
    display: none;
    @include tablet {
      display: flex;
      @include d-t-section-header;
      font-size: 2.125rem;
      padding-bottom: 2.25rem;
    }
  }
  &__figures {
    @include tablet {
      display: none;
    }
  }
  &__symbols {
    display: none;
    @include tablet {
      display: flex;
      padding: 0.625rem 0;
      padding-bottom: 2.25rem;
    }
  }
  &__icon {
    padding: 0 2rem 0 0;
    // width: 100%;
    @include tablet {
    }
  }
  &__img {
    // width: 20%;
  }
  &__emblem {
    display: none;
    @include tablet {
      @include flex(row, flex-end, flex-end);
      padding: 0.625rem 0;
      padding-bottom: 2.25rem;
    }
  }
  &__label {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__info {
    @include tablet {
      @include flex(row, space-between, center);
      padding: 3rem 0 0 0;
    }
    @include desktop {
      @include flex(row, flex-start, center);
    }
  }
  &__company {
    padding: 0 0 1rem 0;
    @include tablet {
      padding-bottom: 2.25rem;
      width: 30%;
    }
    @include desktop {
    }
  }
  &__name {
    @include m-sub-header;
    font-weight: bold;
    padding-bottom: 1rem;
    @include tablet {
      @include d-t-footer-copy;
      font-weight: bold;
      padding-bottom: 2.25rem;
    }
  }
  &__address,
  &__text {
    @include m-body-footer-copy;
    padding-bottom: 1rem;
    @include tablet {
      @include d-t-footer-copy;
      padding-bottom: 2.25rem;
    }
  }
  &__email {
    @include m-body-footer-copy;
    @include tablet {
      @include d-t-footer-copy;
    }
  }
  &__brand {
    padding: 0 0 1rem 0;
  }
  &__logo {
    padding: 2.25rem 0 1rem 0;
    @include tablet {
      display: none;
      padding: 0;
    }
  }
  &__copyright {
    @include m-body-footer-copy;
    font-size: 0.72rem;
    // font-weight: bold;
    @include tablet {
      @include d-t-footer-copy;
      padding: 0;
    }
  }
}
