/** @format */

@use "./mixins" as *;
@use "./variables" as *;
@use "./breakpoints" as *;

.navbar-container {
  background-color: $clr-primary-dark;
}

.navbar {
  margin: 0 auto;
  max-width: 1020px;
  @include flex(column, space-between, center);
  @include tablet {
    @include flex(row, center, center);
  }
  &__brand {
    text-decoration-line: none;
    padding: 1rem 0 0.5rem 0;
    @include m-page-section-header;
    @include tablet {
      padding: 0 2.25rem;
    }
  }
  &__logo {
    max-height: 1.25rem; //20px
    max-width: 7.5rem; //120px;
  }
  &__menu {
    width: 100%;
    @include tablet {
      @include flex(row, flex-start, center);
    }
  }

  &__content {
    @include flex(row, space-around, center);
  }

  &__item {
    @include flex(row, center, center);
    list-style: none;
    text-align: center;
    width: 100%;
    text-decoration-style: none;
    @include m-sub-header;
    transition: 0.5s;
    position: relative;
    &--inactive {
      border-bottom: 0.25rem solid $clr-primary-dark;
      @include font-bold;
    }
    &--active {
      border-bottom: 0.25rem solid $clr-secondary-neutral;
      @include font-bold;
    }
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: 0.25rem solid $clr-secondary-neutral;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.5s;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: center;
    }

    @include tablet {
      @include flex(row, flex-start, center);
      @include d-t-body-copy;
      margin: 0 1.75rem;
    }
  }
  &__link {
    text-decoration-line: none;
    color: $clr-secondary-light;
    padding-bottom: 0.5rem;
    &--active {
      @include font-bold;
      color: $clr-primary-neutral;
    }
    &:hover {
      color: $clr-primary-neutral;
    }

    @include tablet {
      padding: 1.25rem 0;
    }
  }
}
