/** @format */

@use "./mixins" as *;

html,
body {
  margin: 0 auto;
  padding: 0;
  // height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p,
ul,
img {
  @include margin-padding(0, 0);
}
