/** @format */

@use "./mixins" as *;
@use "./variables" as *;
@use "./breakpoints" as *;

.show {
  max-width: 1020px;
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 0 auto;
  @include tablet {
    padding: 0 1.125rem 1.75rem 1.125rem;
  }
  &__container {
    @include flex(column, left, baseline);
    @include tablet {
      @include flex(column, space-evenly, left);
      margin: 0 auto;
    }
    @include desktop {
      @include flex(row, left, baseline);
    }
  }
  &__title {
    @include m-page-section-header;
    @include tablet {
      @include d-t-section-header;
      padding: 3rem 1.125rem 2.25rem 1.125rem;
    }
    @include desktop {
      padding: 3rem 0 2.25rem 1.125rem;
      width: 31%;
    }
  }

  &__list {
    width: 100%;
    @include tablet {
    }
  }

  &__header {
    display: none;
    color: $clr-primary-light;
    @include tablet {
      @include flex(row, space-between, center);
      padding: 0 1.125rem;
      height: 1.5rem;
    }
    @include desktop {
      @include flex(row, space-between, left);
    }
  }
  &__item {
    @include flex(column, center, left);
    border-bottom: 2px solid $clr-secondary-light;
    padding: 1rem 0;
    @include tablet {
      @include flex(row, space-between, baseline);
      padding: 1.5rem 1.125rem;
    }
    @include desktop {
      @include flex(row, space-between, left);
    }
    &:hover {
      background-color: $clr-secondary-neutral;
    }
  }
  &__content {
    display: none;
    @include tablet {
      display: block;
      text-align: justify;
      @include d-t-body-copy;
      font-size: 1rem;
      font-weight: 600;
      width: 25%;
    }
  }
  &__label {
    @include m-labels-buttons;
    font-size: 0.75rem; //12px
    color: $clr-primary-light;
    margin: 0.25rem 0 0.2rem 0;
    @include tablet {
      display: none;
    }
  }
  &__date {
    @include m-sub-header;
    padding: 0 0 0.25rem 0;
    justify-self: center;
    @include tablet {
      @include d-t-labels-buttons;
      font-size: 0.875rem;
      width: 25%;
    }
  }
  &__venue {
    @include m-body-footer-copy;
    font-weight: 600;
    padding: 0 0 0.25rem 0;
    @include tablet {
      @include d-t-body-copy;
      font-weight: 600;
      width: 25%;
    }
  }
  &__location {
    @include m-body-footer-copy;
    font-weight: 600;
    padding-bottom: 1rem;
    padding: 0 0 0.25rem 0;
    @include tablet {
      @include d-t-body-copy;
      font-weight: 600;
      width: 25%;
    }
  }
  &__btn {
    @include m-sub-header;
    background-color: $clr-primary-dark;
    color: $clr-primary-neutral;
    height: 2.5rem; //required
    min-width: 9.375rem; //required
    padding: 0 2rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    border-radius: 4px; //required
    border: 0;
    &--inactive {
      visibility: hidden;
    }
    &:hover {
      background-color: $clr-secondary-dark;
    }
  }
}
