/** @format */

// ******** Colors ********

// Primary Colors

$clr-primary-dark: #323232; //BandSite - Black
$clr-primary-light: #afafaf; //Silver
$clr-primary-neutral: #ffffff; //White

// Secondary Colors

$clr-secondary-dark: #000000; //BandSite - DarkBlack
$clr-secondary-light: #e1e1e1; //Mercury
$clr-secondary-neutral: #fafafa; //Alabaster
